# ------------------------------
# Custom settings
# ------------------------------

# Can be either 'dev' or 'prod'
SPRING_PROFILES_ACTIVE=dev

# ------------------------------
# Server
# ------------------------------
SERVER_PORT=8080
SERVER_SERVLET_CONTEXT_PATH=/api
SSl_KEY_STORE=classpath:seu-keystore.jks
SSL_KEY_STORE_PASSWORD=sua-senha
SSL_KEY_PASSWORD=sua-senha

# ------------------------------
# Postgres
# ------------------------------
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/dealsafe?useSSL=true
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres

# ------------------------------
# Hibernate
# ------------------------------
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT=org.hibernate.dialect.PostgreSQLDialect
SPRING_JPA_PROPERTIES_HIBERNATE_DEFAULT_SCHEMA=public

# ------------------------------
# JWT
# ------------------------------
JWT_PUBLIC_KEY=
JWT_PRIVATE_KEY=

# ------------------------------
# MongoDB
# ------------------------------
DATA_MONGODB_HOST=localhost
DATA_MONGODB_PORT=27017
DATA_MONGODB_DATABASE=dealsafe_logs
DATA_MONGODB_USERNAME=mongoadmin
DATA_MONGODB_PASSWORD=secret
DATA_MONGODB_AUTHENTICATION_DATABASE=admin

# ------------------------------
# Neo4j
# ------------------------------
DATA_NEO4J_URI=neo4j://localhost:7999
DATA_NEO4J_USER=neo4j
DATA_NEO4J_PASSWORD=password